h1{
  font-family: 'Lora', serif;
  font-size: 550% ;
  margin-top: 50px;
}
h3{
  padding-left: 350px;
  font-size: 200%;
  padding-bottom: 50px;
  padding-top: 10px;
}
p{
  padding-bottom: 50px;
  padding-top: 30px;
  margin: 23px;
}
#quote{
  font-size: 200%;
  font-style: italic;
}